*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
}  
thead{
} 
td{
    padding: 10px;
    background: linear-gradient(rgb(121, 86, 86),rgb(245, 190, 90));
}